.tittleContainer{
    position: relative;
}
.tittle{
    position : absolute;
    color: #037fff;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    top: 32%;
    text-align: center;
    font-size: xxx-large;
    font-family: LeagueSpartan;
    cursor: default;
    user-select: none;
}
.hi{
    color: white;   
}
.tittleDes{
    position : absolute;
    color: #b8b8c7;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    top: 42%;
    text-align: center;
    font-size: x-large;
    font-family: TitilliumWeb;
    font-weight: bold;
    cursor: default;
    user-select: none;
}
.tittleButton{
    position : absolute;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid  #b8b8c7;
    width: 20%;
    height: 50px;
    margin-left: 40%;
    margin-right: 40%;
    top: 66%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}
.tittleButton:hover{
    color: #037fff;
    border: 2px solid #ffffff;
    background-color: #ffffff;
}

.resumeButton{
    position : absolute;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid  #b8b8c7;
    width: 20%;
    height: 50px;
    margin-left: 40%;
    margin-right: 40%;
    top: 76%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}
.resumeButton:hover{
    color: #037fff;
    border: 2px solid #ffffff;
    background-color: #ffffff;
}

.scrollDown{
    position : absolute;
    text-align: center;
    top: 86%;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    color: #ffffff;
    font-weight: bold;
    animation-name: move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
    cursor: pointer;
}

@keyframes move{
    from {transform: translateY(0px);}
    to   {transform: translateY(20px);}
}

@media only screen and (max-width:700px){
    .hi{
        display: block;
    }
    .tittle{
        top: 19%;
        font-size: 42px;
    }
    .tittleDes{
        top: 42%;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        font-size: large;
    }
    .tittleButton{
        top:64%;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 12%;
    }
    .resumeButton{
        top: 73%;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 12%;
    }
    .scrollDown{
        top: 86%;
    }
}

@media only screen and (max-width:335px){
    .tittle{
        top: 16%;
        font-size: 36px;
    }
    .tittleDes{
        top:36%;
    }
    .tittleButton{
        top: 60%;
    }
    .resumeButton{
        top: 70%;
    }
    .scrollDown{
        top: 86%;
    }
}